/Test.java
/Test.class
/.idea
/cmake-build-debug
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.cmake
Makefile
.DS_Store
/TestDump.class
/ObjectInputFilter$Config$Global.class
/Contended.class
*.class
